.header-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-nav-menu {
    display: flex;
    justify-content: space-between; /* Distribute space dynamically */
    align-items: center;
    height: 5rem;
    background-color: #0000005e;
    padding: 0 1rem; /* Add padding for small screens */
  }
  .header-nav-menu .p-menubar-root-list {
    margin-right: auto; /* Push the menu items closer to the logo */
    display: flex;
    gap: 3rem; /* Adjust gap for consistent spacing */
    font-size: 1.2rem;
  }

  .header-end {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap; /* Allow wrapping for small screens */
  }
  .header-end .p-inputtext{
    width: 20rem;
    height: 2.5rem;
  }
  
  /* Media Queries for Small Screens */
  @media (max-width: 768px) {
    .header-nav-menu {
      flex-direction: column; /* Stack items vertically */
      height: auto;
      gap: 1rem; /* Reduce gap */
    }
  
    .header-end {
      justify-content: center;
      gap: 0.5rem; /* Reduce gap on small screens */
    }
  
    .p-menubar-root-list {
      gap: 1rem; /* Smaller gap for menu items */
    }
  }
